<body class="contact">

<div class="contact-info">
  <br>

  <!-- Top content -->
  <div class="top-content">

    <div class="inner-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text">
            <h1><strong>Tiltworks</strong> Contact Form</h1>

            <div class="description">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h3>Contact us</h3>

                <p>Fill in the form below to send us a message: <strong>We would love to hear from you!</strong></p>
              </div>
            </div>
            <div class="form-bottom contact-form">
              <form role="form" action="" method="post">
                <div class="form-group">
                  <label class="sr-only" for="contact-email">Email</label>
                  <input type="text" name="email" placeholder="Email..." class="contact-email form-control" id="contact-email">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="contact-subject">Subject</label>
                  <input type="text" name="subject" placeholder="Subject..." class="contact-subject form-control" id="contact-subject">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="contact-message">Message</label>
                  <textarea name="message" placeholder="Message..." class="contact-message form-control" id="contact-message"></textarea>
                </div>
                <button type="submit" class="btn btn-success" disabled style="opacity: .99;">Send message</button>
              </form>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Div above the map but below the message form -->
  <div class="above-map">
    <h2>We are located in <strong>Beautiful</strong> Asheville North Carolina</h2>
  </div>

  <!-- Map for Large devices -->
  <div class="map-canvas" id="map-canvas">
    <div id="map"></div>
  </div>
  <br>
  <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="50%" src="http://forecast.io/embed/#lat=35.481891&lon=-82.537184&name=Arden, NC"></iframe>

  <!-- Builds map -->
  <script>
    handler = Gmaps.build('Google');
    handler.buildMap({provider: {}, internal: {id: 'map-canvas'}}, function() {
      markers = handler.addMarkers([
        {

          "lat": 35.481891,
          "lng": -82.537184,
          "infowindow": "Tiltworks - 600 Julian Lane Suite 650" +
          " Arden, NC 28704"
        }
      ]);
      handler.fitMapToBounds();
    });
  </script>
  <br>
</div>
<br>
</body>
