<div class="title-pic">
<%= image_tag("big-logo.png") %>
</div>
<br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal0">
  Learn more about Tiltworks.
</button>
