<div class="title-pic">
  <%= image_tag("big-logo.png") %>
</div>
<br>
<!-- Div that contains a button to the about page -->
<div class="about-button">
  <%= button_to 'Learn more about Tiltworks', '/about', method: :get, class: "btn btn-lg btn-success" %>
</div>
